# exclude folder
/8-legacy/2_Presentation/*
/8-legacy/3_Technik/*
/8-legacy/4_Anhang/*

# exclude tmp latex files
*.aux
*.log
*.dvi
*.lof
*.bbl
*.blg
*.lot
*.out
*.ps
*.toc
*.fdb_latexmk
*.fls
*.synctex.gz

# exclude video link
/5-groundworks/cnn-videos/*